In [1]:
import pandas as pd

In [23]:
excel_file_path = "tripinfo.xlsx"
df = pd.read_excel(excel_file_path)
df.head()

,Vehicle_ID,Depart,Arrival,Duration,Waiting Time,Departure Delay,Vehicle
0,flow_east_to_east.0,0,125,125,0,0.00,carDist2
1,flow_west_to_north.0,0,143,143,0,0.00,motorcycleDist3
2,flow_west_to_north.2,12,147,135,0,0.92,motorcycleDist3
3,flow_east_to_east.1,15,148,133,0,0.60,microbusDist2
4,flow_south_to_north.4,8,149,141,5,0.38,motorcycleDist1

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7163 entries, 0 to 7162
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Vehicle_ID       7163 non-null   object
 1   Depart           7163 non-null   int64
 2   Arrival          7163 non-null   int64
 3   Duration         7163 non-null   int64
 4   Waiting Time     7163 non-null   int64
 5   Departure Delay  7163 non-null   float64
 6   Vehicle          7163 non-null   object
dtypes: float64(1), int64(4), object(2)
memory usage: 391.9+ KB

In [25]:
df.describe()

           Depart      Arrival     Duration  Waiting Time  Departure Delay
count  7163.00000  7163.000000  7163.000000   7163.000000      7163.000000
mean   1617.18791  1875.809856   258.621946     31.390618         0.496730
std     952.82187   985.835345   159.870893     47.014036         0.442345
min       0.00000   125.000000   124.000000      0.000000         0.000000
25%     797.50000  1018.500000   173.500000      0.000000         0.140000
50%    1596.00000  1859.000000   208.000000     15.000000         0.460000
75%    2414.00000  2725.000000   280.500000     40.000000         0.760000
max    3458.00000  3599.000000  1505.000000    587.000000         5.300000

In [26]:
def get_direction(vehicle_id):
    parts = vehicle_id.split("_")
    direction = parts[1]
    return direction

In [27]:
df["Ingress Point"] = df["Vehicle_ID"].apply(get_direction)
df.head()

,Vehicle_ID,Depart,Arrival,Duration,Waiting Time,Departure Delay,Vehicle,Ingress Point
0,flow_east_to_east.0,0,125,125,0,0.00,carDist2,east
1,flow_west_to_north.0,0,143,143,0,0.00,motorcycleDist3,west
2,flow_west_to_north.2,12,147,135,0,0.92,motorcycleDist3,west
3,flow_east_to_east.1,15,148,133,0,0.60,microbusDist2,east
4,flow_south_to_north.4,8,149,141,5,0.38,motorcycleDist1,south

In [28]:
directions = ["north", "south", "east", "west"]
results = {}

for direction in directions:
        # Filter the DataFrame for the current direction
        df_direction = df[df['Ingress Point'] == direction]

        # Calculate the number of vehicles
        num_vehicles = len(df_direction)

        # Calculate the metrics only if there are vehicles for the direction
        if num_vehicles > 0:
            # Calculate average travel time
            average_travel_time = df_direction['Duration'].mean()

            # Calculate average waiting time
            average_waiting_time = df_direction['Waiting Time'].mean()

            # Calculate average departure delay
            average_departure_delay = df_direction['Departure Delay'].mean()
        else:
            average_travel_time = 0
            average_waiting_time = 0
            average_departure_delay = 0

        # Store the results in the dictionary
        results[direction] = {
            'number_of_vehicles': num_vehicles,
            'average_travel_time': average_travel_time,
            'average_waiting_time': average_waiting_time,
            'average_departure_delay': average_departure_delay
        }

In [29]:
df_results = pd.DataFrame(results)
df_results["Overall Average"] = df_results.iloc[:, 1:].mean(axis=1)
df_results

,north,south,east,west,Overall Average
number_of_vehicles,2692.000000,2397.000000,1184.000000,615.000000,1398.666667
average_travel_time,313.768574,198.032123,276.054054,199.386992,224.491056
average_waiting_time,33.399331,10.148519,64.896959,19.378862,31.474780
average_departure_delay,0.404016,0.587196,0.565228,0.530455,0.560960